{% extends "admin_base.j2" %}
{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center welcome-container">
    <div>
        <h2>
            Bem-vindo, {{current_user.name}}
        </h2>
    </div>
    <div>
        <img class="logo-index" src="/static/images/logo.png" alt="">
    </div>
<div>
{% endblock %}