{% extends "admin_base.j2" %}
{% block aditional_header %}
    <script>
        function deleteUser() {
            if (!confirm("Você tem certeza?")) return;
            xhr = new XMLHttpRequest();
            xhr.open('DELETE', "/admin/user/{{user.id}}");
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200|| xhr.status === 404) {
                    window.location.replace("{{url_for("user.index")}}");
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }

        function saveUser() {
            let nameInput = $('#name');
            let userInput = $('#username');
            let err = 0;

            nameInput.removeClass('invalid');
            userInput.removeClass('invalid');

            $('#name-invalid #username-invalid').hide();

            if (!nameInput.val() || nameInput.val().length > 255) {
                nameInput.addClass('invalid');
                $('#name-invalid').show();
                err++;
            }

            if (!userInput.val() || userInput.val().length > 50) {
                userInput.addClass('invalid');
                $('#username-invalid').show();
                err++;
            }

            if (err > 0) {
                return false;
            }

            $('#form').submit();
        }

    </script>
{% endblock %}
{% block content %}
<h2 class="page-title">{{title}}</h2>
<div class="d-flex justify-content-center align-items-center">
    <form id="form" class="form-style card" method="POST" action="{{action}}" novalidate>
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="form-control" maxlength="255" required value="{{user.name}}"/>
            <div id="name-invalid" class="invalid-field">
                Preencha o campo nome
            </div>
        </div>
        <div class="form-group">
            <label for="description">Nome do Usuário</label>
            <input type="text" id="username" name="username" class="form-control" maxlength="20" required value="{{user.username}}"/>
            <div id="username-invalid" class="invalid-field">
                Preencha o campo nome de usuário
            </div>
        </div>
        <div class="form-group">
            <label for="description">E-mail do Usuário</label>
            <input type="text" id="email" name="email" class="form-control" required value="{{user.email}}"/>
        </div>
        <div class="form-group">
            <label for="description">Permissão do Usuário</label>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    id="adm"
                    required
                    name="role"
                    pattern="[A]"
                    value="A"
                    {% if user.role and user.role.code == 'A' %} checked {% endif %}
                >
                <label class="form-check-label" for="adm">
                    Administrador
                </label>
            </div>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    id="usr"
                    required
                    name="role"
                    pattern="[U]"
                    value="U"
                    {% if user.role and user.role.code == 'U' %} checked {% endif %}
                >
                <label class="form-check-label" for="usr">
                        Usuário Comum
                </label>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <button type="button" class="btn button-outlined" onClick="history.back()">Cancelar</button>
            {% if user %}
            <button type="button" class="btn button-outlined" onClick="deleteUser()">Excluir</button>
            {% endif %}
            <button type="button" class="btn button-dark" onClick="saveUser()">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}
