{% extends "admin_base.j2" %}
{% if product %}
    {% block aditional_header %}
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            if (!document.getElementById('img-preview').src) {
                document.getElementById('preview-container').style.display = "none";
            }
        });

        function deleteProduct() {
            if (!confirm("Você tem certeza?")) return;
            xhr = new XMLHttpRequest();
            xhr.open('DELETE', "/admin/product/{{product.id}}");
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200 || xhr.status === 404) {
                    window.location.replace("{{url_for("product.index")}}");
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }

        function createURL(input) {
            if (input.files && input.files[0]) {
                document.getElementById('img-preview').src = URL.createObjectURL(input.files[0]);
                document.getElementById('preview-container').style.display = "block";
            } else {
                document.getElementById('preview-container').style.display = "none";
            }
        }
    </script>
    {% endblock %}
{% endif %}
{% block content %}
<h2 class="page-title">{{title}}</h2>
<div class="d-flex justify-content-center align-items-center">
    <form class="form-style card" method="POST" action="{{action}}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="form-control" required value="{{product.name}}"/>
        </div>
        <div class="form-group">
            <label for="quantity">Quantidade</label>
            <input type="text" id="quantity" name="quantity" class="form-control" required value="{{product.quantity}}"/>
        </div>
        <div class="form-group">
            <label for="price">Preço</label>
            <input type="text" id="price" name="price" class="form-control" required value="{{product.price}}"/>
        </div>
        <div class="form-group">
            <label for="category">Categoria</label>
            <select type="text" id="category" name="category" class="form-control" required>
                {% for category in categories %}
                <option value="{{category.id}}" {% if product.category_id==category.id %}selected{% endif %}>
                    {{category.name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="fileInput" class="form-label">Imagem</label>
            <input class="form-control" type="file" id="fileInput" name="file" onchange="createURL(this)">
        </div>
        <div id="preview-container" class="image-preview-container">
            {% if product.photo_url %}
                <img id="img-preview" src="{{ url_for('product.download_file', file_id=product.photo_url) }}" class="image-preview" alt="{{product.name}}">
            {% else %}
                <img id="img-preview" class="image-preview" alt="preview">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{product.description}}</textarea>
        </div>
        <div class="form-group d-flex justify-content-between">
            <button type="button" class="btn button-outlined" onClick="history.back()">Cancelar</button>
            {% if product %}
            <button type="button" class="btn button-outlined" onClick="deleteProduct()">Excluir</button>
            {% endif %}
            <button type="submit" class="btn button-dark">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}
