<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Voltaire&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="login-container">
        <form method="POST" action="/login/">
            <img class="login-logo" src="/static/images/logo.png" alt="logo "/>
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" class="form-control" required />
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" class="form-control" required />
            <div class="g-recaptcha" data-sitekey="{{recaptcha}}" data-theme="dark" style="margin-top:25px;"></div>
            <button type="submit" class="btn button-dark button-margin">Login</button>
            <a href="/recover_password/" class="link-dark">Recuperar senha</a>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors[0] }}
                </div>
            {% endif %}
            {% endwith %}
            {% with warning = get_flashed_messages(category_filter=["warning"]) %}
            {% if warning %}
                <div class="alert alert-warning">
                    {{ warning[0] }}
                </div>
            {% endif %}
            {% endwith %}
            {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
                <div class="alert alert-success">
                    {{ success[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>