<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Voltaire&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script>
        function backLogin() {
            xhr = new XMLHttpRequest();
            xhr.open('GET', "/login/");
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200|| xhr.status === 404) {
                    window.location.replace("{{url_for("login.render_login")}}");
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }
    </script>
</head>
<body>

    <div class="login-container">
        <form method="POST" action="/recover_password/">
            <img class="login-logo" src="/static/images/logo.png" alt="logo "/>
            <label for="email">Digite seu e-mail:</label>
            <input type="text" id="email" name="email" class="form-control" required />
            <button type="submit" class="btn button-dark button-margin">Confirmar</button>
            <button type="button" class="btn button-outlined" onClick="backLogin()" >Cancelar</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>