<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Voltaire&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/scripts/validators.js"></script>
    <script>
        function backLogin() {
            xhr = new XMLHttpRequest();
            xhr.open('GET', "/login/");
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200|| xhr.status === 404) {
                    window.location.replace("{{url_for("login.render_login")}}");
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }

        function passwordsMatch() {
            return $('#password').val().length > 0
                && $('#rpassword').val().length > 0
                && $('#password').val() === $('#rpassword').val()
        }

        $(function ($) {
            $(function () {
                $('#password, #rpassword').on('input', () => {
                    if (!passwordIsValid($('#password').val())) {
                        $('#password-invalid').show();
                        $('#password-invalid').html('A senha ter no mínimo 8 caracteres contendo uma letra maiúscula, uma letra minúscula e um número');
                        $('#reset-password').prop('disabled', true);

                        return;
                    }

                    if (!passwordsMatch()) {
                        $('#password-invalid').show();
                        $('#password-invalid').html('As senhas precisam ser iguais');
                        $('#reset-password').prop('disabled', true);
                    } else {
                        $('#password-invalid').hide();
                        $('#reset-password').prop('disabled', false);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="login-container">
        <form method="POST" action="/reset_password/{{token}}">
            <img class="login-logo" src="/static/images/logo.png" alt="logo "/>
            <label for="password">Digite sua nova senha:</label>
            <input type="password" id="password" name="password" class="form-control" required />
            <label for="rpassword">Repita sua nova senha:</label>
            <input type="password" id="rpassword" name="rpassword" class="form-control" required />
            <div id="password-invalid" class="invalid-field"></div>
            <button type="submit" id="reset-password" class="btn button-dark button-margin" disabled>Confirmar</button>
            <button type="button" class="btn button-outlined" onClick="backLogin()">Cancelar</button>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>