{% extends "admin_base.j2" %}
{% block aditional_header %}
    <script>
        function deleteCategory() {
            if (!confirm("Você tem certeza?")) return;
            xhr = new XMLHttpRequest();
            xhr.open('DELETE', "/admin/category/{{category.id}}");
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200 || xhr.status === 404) {
                    window.location.replace("{{url_for("category.index")}}");
                } else {
                    alert('Erro ' + xhr.status);
                }
            };

            xhr.send();
        }
        
        function saveCategory() {
            let nameInput = $('#name');
            let descriptionInput = $('#description');
            let err = 0;

            nameInput.removeClass('invalid');
            descriptionInput.removeClass('invalid');

            $('#name-invalid, #descprition-invalid').hide();

            if (!nameInput.val() || nameInput.val().length > 20) {
                nameInput.addClass('invalid');
                $('#name-invalid').show();
                err++
            }

            if (!descriptionInput.val() || descriptionInput.val().length > 255) {
                descriptionInput.addClass('invalid');
                $('#descprition-invalid').show();
                err++
            }

            if (err > 0) {
                return false;
            }

            $('#form').submit();
        }
    </script>
{% endblock %}
{% block content %}
<h2 class="page-title">{{title}}</h2>
<div class="d-flex justify-content-center align-items-center">
    <form id="form" class="form-style card" method="POST" action="{{action}}" novalidate>
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="form-control" maxlength="20" required value="{{category.name}}"/>
            <div id="name-invalid" class="invalid-field">
                Preencha o campo nome
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control" id="description" name="description" rows="3" maxlength="255" required>{{category.description}}</textarea>
            <div id="descprition-invalid" class="invalid-field">
                Preencha a descrição
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <button type="button" class="btn button-outlined" onClick="history.back()">Cancelar</button>
            {% if category %}
            <button type="button" class="btn button-outlined" onClick="deleteCategory()">Excluir</button>
            {% endif %}
            <button type="button" class="btn button-dark" onClick="saveCategory()">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}