{% extends "listing_base.j2" %}
{% block table_body %}
{% for row in data %}
    <tr>
        <td>
            {{row.name}}
        </td>
        <td>
            {{row.description}}
        </td>
        <td>
            <a href="/admin/category/{{row.id}}">
                <img src="/static/images/eye.svg" alt="Visualizar"/>
            </a>
        </td>
    </tr>
{% endfor %}
{% endblock  %}