{% extends "client_base.j2" %}
{% block aditional_header %}
    <script>
        $(document).ready(function () {
            $('.accordion-toggle').click(function () {
                $(this.nextElementSibling).toggle(300);
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h2 class="page-title">Checkout</h2>
    <div class="flex-grow-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Produto</td>
                    <td>Quantidade</td>
                    <td>Preço</td>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product['name']}}</td>
                        <td>{{product['qt_ordered']}}</td>
                        <td>{{product['price']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <b>Total:</b> {{total}}
        </div>
    </div>
{% endblock %}