{% extends "client_base.j2" %}
{% block aditional_header %}
    <script>
        $(document).ready(function () {
            $('.accordion-toggle').click(function () {
                $(this.nextElementSibling).toggle(300);
            });
        });
    </script>
    <script>
        function generateQRCode() {
            {# const xhr = new XMLHttpRequest();
            xhr.open('POST', '/docheckout')
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = () => {
                if (xhr.status === 200 || xhr.status === 404) {
                    document.open();
                    document.write(xhr.response);
                    document.close();
                } else {
                    alert('Erro ' + xhr.status);
                }
            }
            xhr.send(); #}

            $(document).ready( function() { 
                $.ajax({
                    type: "POST",
                    url:'/docheckout',
                    success: function(data){
                        $('body').html('<img src="' + data + '" />');
                    },
                });
            })
        }
    </script>
{% endblock %}
{% block content %}
    <h2 class="page-title">Checkout</h2>
    <div class="flex-grow-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Produto</td>
                    <td>Quantidade</td>
                    <td>Preço</td>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product['name']}}</td>
                        <td>{{product['qt_ordered']}}</td>
                        <td>{{product['price']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <b>Total:</b> {{total}}
        </div>
        <button type="button" class="btn button-outlined" onClick="generateQRCode()">Pagar</button>
    </div>
{% endblock %}