{% extends "client_base.j2" %}
{% block aditional_header %}
    <script>
        cleanBag()
    </script>
{% endblock %}
{% block content %}
    <h1 class="text-center">Muito obrigado por comprar conosco</h1>
    <p class="text-center">Aqui está o QRCode para pagamento do seu pedido por Pix!</p>
    <img class="mx-auto" src="{{qr_code}}" alt="pix" style="width: 300px"/>
{% endblock %}