{% extends "admin_base.j2" %}
{% block content %}
<h2 class="page-title">{{title}}</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {{messages[0]}}
        </div>
    {% endif %}
{% endwith %}
<div class="d-flex justify-content-end">
    <a class="btn button-dark" href="{{path_new}}">
        Adicionar
    </a>
</div>
{% if not data %}
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        Não há {{title.lower()}} cadastrados
    </div>
{% else %}
    <div class="flex-grow-1">
        <table class="table table-striped">
            <thead>
                <tr>
                {% for column in columns %}
                    <th>
                        {{column}}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% block table_body %}{% endblock %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
