<!DOCTYPE html>
<html>
  <head>
    <style>
      .titulo{
        width: 100%;
        padding: 15px 0px;
        text-align: center;
        background-color: #171717;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8vw;
        color: #FFFFFF;
      }
      .mensagem{
        width: 100%;
        padding: 25px 0px;
        text-align: center;
        background-color: #FCFCFC;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5vw;
        color: #171717;
      }
      .sucesso, .link{
        width: 100%;
      }
      .link{
        font-size: 1vw;
      }
      .link a{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="titulo"> A melhor hamburgueria do mundo, Hamburgueria Heat!!</div>
    <div class="mensagem">
      <img src="cid:image1" height="320" width="320">
      <div class="sucesso"><a href="{{ entity.url }}">Clique aqui</a> para a criação de uma nova senha de acesso. </div>
    </div>
  </body>
</html>